<footer>
</footer>
<div class="footerbox1">
    <div class="footertittle">Team Pøllerne:</div>
    <br><br>
    <div class="footertxt">
        <p>Ramiladen</p>
        <!-- Github icon med Link -->
        <a href="https://github.com/Ramilade" target="_blank"><input type="image" src="../images/github.png"
                                                                     style="width: 15px; height: 15px;"></a>
        <!-- Mail icon med autogenereret mail -->
        <a href="mailto:rami0904@stud.kea.dk?Subject=PoelleSkyen%20Query"><img src="../images/email.png"
                                                                               style="width: 15px; height: 15px; position: relative; left: 5px"></a><br>

        <p>Frederik</p>
        <!-- Github icon med Link -->
        <a href="https://github.com/Fhallengreen" target="_blank"><input type="image" src="../images/github.png"
                                                                         style="width: 15px; height: 15px"></a>
        <!-- Mail icon med autogenereret mail -->
        <a href="mailto:fred70p9@stud.kea.dk?Subject=PoelleSkyen%20Query"><img src="../images/email.png"
                                                                               style="width: 15px; height: 15px; position: relative; left: 5px"></a><br>

        <p>Jonathan</p>
        <!-- Github icon med Link -->
        <a href="https://github.com/Jwillumsen89" target="_blank"><input type="image" src="../images/github.png"
                                                                         style="width: 15px; height: 15px"></a>
        <!-- Mail icon med autogenereret mail -->
        <a href="mailto:jona95k7@stud.kea.dk?Subject=PoelleSkyen%20Query"><img src="../images/email.png"
                                                                               style="width: 15px; height: 15px; position: relative; left: 5px"></a><br>

        <p>Thomas</p>
        <!-- Github icon med Link -->
        <a href="https://github.com/Linding3r" target="_blank"><input type="image" src="../images/github.png"
                                                                      style="width: 15px; height: 15px"></a>
        <!-- Mail icon med autogenereret mail -->
        <a href="mailto:thom30z6@stud.kea.dk?Subject=PoelleSkyen%20Query"><img src="../images/email.png"
                                                                               style="width: 15px; height: 15px; position: relative; left: 5px"></a>
    </div>
</div>
