<div class="navbar">
    <div class="navbar_container">
        <div class="navbar_logo">
            <a href="/">
              <img th:src="@{https://i.imgur.com/uO3C3wu.png}" src="https://i.imgur.com/uO3C3wu.png" class="navbar_logo">
            </a>
        </div>
        <div class="center_navbar">
            <a href="/"><h1>PølleSkyen</h1></a>
                <!-- Knap: opret pølleliste -->
        </div>
        <div class="navbar-create">
            <!-- Knap: opret pølleliste -->
            <a href="/createwishlist " style="text-decoration: none; color: black;">
                    <span>Opret ny ønskeliste</span>
                </a>
            </div>
                <!-- Knap: Login pølleliste -->
                <div class="navbar-login" style="text-decoration: none">
                    <!-- indsæt login her -->
                    <a href="/wishlists" style="text-decoration: none; color: black">
                        <span>Se ønsker</span>
                    </a>
                </div>
            </div>
        </div>