<div class="navbar">
  <div class="navbar_container">
    <div class="navbar_logo">
      <a href="/">
        <img th:src="@{https://i.imgur.com/uO3C3wu.png}" src="https://i.imgur.com/uO3C3wu.png" style="height: 80px; width: 100px">
      </a>

      <!-- Knap: opret pølleliste -->
      <div class="navbar-button">
        <a href="/createwishlist">

      <button> <img src="../images/newList.png" style="height: 40px; width: 65px; align-content: center">Opret en PølleListe</button>
        </a>
      </div>
      <!-- Knap: Login pølleliste -->
      <div class="navbar-button">

        <!-- indsæt login her -->
        <a href="/">

          <button><img src="../images/login.png" style="height: 40px; width: 65px; align-content: center">Login her</button>
        </a>
      </div>
    </div>

  </div>



</div>