<div class="navbar">
    <div class="navbar_container">
        <div class="navbar_logo">
            <a href="/">
              <img th:src="@{https://i.imgur.com/uO3C3wu.png}" src="https://i.imgur.com/uO3C3wu.png"
                   style="height: 80px; width: 100px">
            </a>
        </div>
        <div class="center_navbar">
            <h1>PølleSkyen</h1>
        </div>
            <div class="navbar-create">
                <!-- Knap: opret pølleliste -->
                <a href="/createwishlist " style="text-decoration: none; color: black">
                    <span>Opret ny Ønskeliste</span>
                </a>
            </div>
                <!-- Knap: Login pølleliste -->
                <div class="navbar-login" style="text-decoration: none">
                    <!-- indsæt login her -->
                    <a href="/" style="text-decoration: none; color: black">
                        <span>Login</span>
                    </a>
                </div>
            </div>
        </div>