body{
    background:transparent;
    zoom: 100%;
}

.container_create {
    overflow: hidden !important;
    display: grid;
    width: 100vw;
    height: 100vh;
}

@media only screen and (min-width: 1000px) {
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }
}

@font-face {
    font-family: PølleSkyen;
    src: url('../fonts/Comfortaa-Regular.ttf');
}

@media only screen and (min-width: 1000px) {
    input, select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 22px;
    }
}

@media only screen and (max-width: 1000px) {
    input, select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }
}


@media only screen and (min-width: 1250px) {
    input[type=submit], input[type=button], .a1, show {
        width: 100%;
        background-color: #2ea4ff;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 26px;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1250px) {
    input[type=submit], input[type=button], .a1, show {
        width: 100%;
        background-color: #2ea4ff;
        color: black;
        padding: 5px 10px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        text-decoration: none;
    }
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #39a7ff;
}

@media only screen and (min-width: 1250px) {
    .card_container {
        border-radius: 5px;
        padding: 20px;
        margin-left: 25vw;
        margin-top: 5vh;
        background-color: #B1D3F1;
        width: 900px;
        height: 500px;
    }
}

@media only screen and (max-width: 1250px) {
    .card_container {
        border-radius: 5px;
        padding: 20px;
        background-color: #B1D3F1;
        width: auto;
        height: 450px;
    }
}

label {
    font-size: 20px;
    font-family: PølleSkyen;
    src: url('../fonts/Comfortaa-Regular.ttf');
    color: black;
}

.show {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    /*float: left;*/
    justify-content: center;
    align-content: center;
    /*font-size: 24px;*/
    flex-direction: column;
}

@media only screen and (max-width: 1250px) {
    footer {
        background-image: url("https://i.imgur.com/fQ9msNB.png");
        /*        background-position: center;
                background-size: cover;*/
        width: 100%;
        min-height: 400px;
        font-family: PølleSkyen;
        /*overflow: hidden;*/
    }
}

@media only screen and (min-width: 1250px) {
    footer {
        margin-top: 100px;
        background-image: url("https://i.imgur.com/fQ9msNB.png");
        background-position: center;
        background-size: cover;
        width: 100%;
        min-height: 650px;
        font-family: PølleSkyen;
        /*overflow: hidden;*/
    }
}