.box {
    width: 70%;
    vertical-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.link_hover {
    color: grey;
}


.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    transition: transform .2s;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    line-height: normal;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    line-height: 100%;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #B1D3F1;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    font-size: 1em;
}

@media screen and (max-width: 700px) {
    .box {
        width: 90%;
    }

    .popup {
        width: 90%;
    }
}
