body{
    background:transparent;
}

.wishBox {
    font-family: PølleSkyen, serif;
    display: flex;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 20%);
}

.navbar_container {
    display: flex;
    justify-content: left;
    height: 90px;
    z-index: 1;
    width: 100%;

}

.navbar_logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.center_navbar {
    width: 60%;
    height: 90px;
    /*padding: 0 10px;*/
    /*background-color: black;*/
}
@media only screen and (min-width: 1000px) {
    .navbar-create {
        padding-right: 15px;
        padding-top: 40px;
        width: 100%;
        text-align: end;
        flex-direction: column;
        display: block;
        font-size: 24px;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-create {
        padding-right: 15px;
        padding-top: 40px;
        flex-direction: column;
        display: block;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1000px) {
    .navbar-login {
        /*width: 100%;*/
        padding-top: 40px;
        text-align: end;
        flex-direction: column;
        display: block;
        color: black;
        font-size: 24px;
    }
}

@media only screen and (max-width: 1000px) {
    .navbar-login {
        padding-top: 40px;
        flex-direction: column;
        display: block;
        color: black;
        font-size: 18px;
    }
}


@media only screen and (max-width: 1000px) {
    h1 {
        font-family: PølleSkyen;
        /*text-shadow: 1px 1px 2px black;*/
        text-align: left;
        padding-top: 40px;
        font-size: 24px;
        color: #7fbbef;
    }
}
@media only screen and (min-width: 1000px) {
    h1 {
        font-family: PølleSkyen;
        padding-top: 15px;
        /*text-shadow: 1px 1px 2px black;*/
        text-align: left;
        font-size: 60px;
        color: #7fbbef;
    }
}
h2 {
    font-family: PølleSkyen;
    /*text-shadow: 1px 1px 2px black;*/
    text-align: center;
    font-size: 60px;
    color: #B1D3F1;
}

h3 {
    font-family: PølleSkyen;
    /*text-shadow: 1px 1px 2px black;*/
    text-align: center;
    font-size: 40px;
    color: #B1D3F1;
}

div{
    font-family: PølleSkyen;
}

div2{
    font-family: PølleSkyen;
    font-size: 26px;
}
div3{
    font-family: PølleSkyen;
    font-size: large;
}



/*HEADER WISHLIST*/

.grid-container {
    display: grid;
    padding: 10px;
    justify-content: center;
}

.grid-item {
    padding: 10px;
    font-size: 24px;
    color: black;

}
a {
    text-decoration: none !important;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.grid-view {
    grid-template-columns: auto auto auto auto;
    overflow: hidden;
    grid-gap: 20px;
}

/*HEADER WISHES*/


.grid-container_wish {
    grid-template-columns: auto auto auto auto auto;
    display: grid;
    padding: 50px;
}

.grid-item_wish {
    padding: 10px;
    font-size: 18px;
    color: black;
}

.grid-container_wish > div {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}


a {
    text-decoration: none !important;
}

@font-face {
    font-family: PølleSkyen;
    src: url('../fonts/Comfortaa-Regular.ttf');
}



/*FOOTER*/

footer {
    background-image: url("https://i.imgur.com/fQ9msNB.png");
    background-position: center;
    background-size: cover;
    min-width: 2000px;
    min-height: 596px;
    font-family: PølleSkyen;
}

.footerbox1{
    margin-top: -100px;
    margin-left: 100px;
    margin-bottom: 200px;
}

.footertittle{
    font-size: x-large;

}

.footertxt{
    font-size: medium;
    color: #B1D3F1;
}



/*THOMAS TEST*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container > div {
    /*background-color: #f1f1f1;*/
    width: 200px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.flex-container1 > div {
    background-color: #B1D3F1;
    width: 200px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

div.card1 {
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
}

div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.header {
    background-color: #B1D3F1;
    color: white;
    position: relative;
    height: 250px;
    /*padding-top:40%;*/
    font-size: 40px;
    text-align:center;
    /*max-height: 250px;*/
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 250px;
    /*line-height: 1.8em;*/
}

.small_header{
    line-height: 1.6em;
}

div.container {
    padding: 10px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}