<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pølleskyen</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/header.html"></div>

<h2>Lav en ny Pølleliste</h2>

<form action="createwishlist" method="post">
    <label>Navn:
    <input type="text" name="name" placeholder="Giv din ønskeliste et navn">
    </label>
    <input type="submit" value="Opret din ønkeliste">
</form>
<footer></footer>
</body>
</html>