<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="/css/form.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <title>Pølleskyen</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>

<div class="container_create" style="zoom: 135%">
    <div class="card_container">
        <form action="/showwishlist/createwish" method="post">
            <label>Navn:
                <input type="text"  name="name" placeholder="Skriv navn til ønsket" autofocus required maxlength="100">
            </label><br>
            <label>Pris:
                <input type="number" min="0" max="10000000000" maxlength="10000000000" step="0.01" name="price" placeholder="Skriv pris på ønsket">
            </label><br>
            <label>Link:
                <input type="url" maxlength="255" name="link" placeholder="Link til ønsket">
            </label><br>
            <label>Beskrivelse:
                <input type="text" maxlength="2000" name="description" placeholder="Beskrivelse til ønsket">
            </label><br>
            <input type="hidden" name="list_id" th:value="${wishlist.id}">
            <input type="hidden" name="reserved" value="false">

            <div class="show">
                <input type="button" value="Fortryd" onclick="history.back()"></div>
            <div class="show"><input type="submit" value="Opret ønske" style="font-family: PølleSkyen;">
            </div>
        </form>
    </div>
    <footer>
    </footer>
</div>


</body>
</html>