<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="/css/form.css">
    <link rel="icon" type="image/x-icon" href="/images/poopcloud-favicon.ico" th:href="@{/images/poopcloud-favicon.ico}">
    <title>Pølleskyen</title>
</head>
<body>
<div th:insert="fragments/header.html"></div>
<div class="container_create">
    <div class="card_container" style="height: 250px">
        <form action="createwishlist" method="post">
            <label>Navn:
                <input type="text" name="name" placeholder="Giv din ønskeliste et navn" maxlength="45" required>
            </label>
            <div class="show">
                <a class="a1" th:href="@{'/'}"style="color: black"><span>Gå tilbage</span>
                </a></div><div class="show"><input type="submit" value="Opret ønske" style="font-family: PølleSkyen;">
        </div>
        </form>
    </div>
    <footer>
    </footer>
</div>

</body>
</html>