<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pølleskyen</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/frontpage.css}" href="../static/css/frontpage.css">
    <link rel="icon" type="image/x-icon" href="/images/poopcloud-favicon.ico" th:href="@{/images/poopcloud-favicon.ico}">
</head>
<body>
<div th:insert="fragments/header.html">
</div>

<div class="imageTextBoxContainer" style="margin-top: 100px">
    <div class="textContainerTop">
        <h2>GEM OG DEL
            ALLE DINE ØNSKER</h2><br>
        <h5>Pølleskyen gør det let for dig at gemme og dele alle
            dine ønsker med venner og familie.</h5>
    </div>
    <div>
        <img src="../images/GaveSky.png">
    </div>
</div>

<div class="imageTextBoxContainer" style="margin-top: 100px">
    <div class="textContainerBig">
    <h2>MERE END 10 MILLARDER PØLLESKYER</h2><br>
    <h5>Pølleskyen er Danmarks mest fortrukkende sted til at lave dine ønskesedler.
    Vores mål er at gøre det nemt at gemme og dele ønsker.</h5>
    </div>
</div>

<div class="flex-container" style="margin-top: 100px; margin-bottom: 200px">
    <a th:href="@{'/createwishlist'}"><input type="image" src="../images/OpretØnskeliste.png" width="350px" height="auto"></a>
</div>

<div class="flex-container" style="margin-top: 100px">
    <h2>SÅDAN VIRKER PØLLESKYEN</h2>
</div>
<div class="imageTextBoxContainer" style="margin-top: 200px">
    <div>
        <img src="../images/DelØnsker.png">
    </div>
    <div class="textContainer">
        <h6>DEL DINE ØNSKER MED FAMILIE OG VENNER</h6>
        <h7>På den måde er det let for andre at finde den helt rigtige gave til dig.</h7>
    </div>
</div>

<div class="imageTextBoxContainer">
    <div class="textContainer">
        <h6>UNDGÅ AT FÅ DEN SAMME GAVE TO GANGE</h6>
        <h7>Din familie og dine venner har mulighed for at reservere ønsker på din pølleseddel.</h7>
    </div>
    <div>
        <img src="../images/Info1.png">
    </div>
</div>

<div class="flex-container" style="margin-top: 300px">
    <a th:href="@{'/wishlists'}"><input type="image" src="../images/SeØnskelister.png" width="350px" height="auto"></a><br>
</div>
<div th:insert="fragments/footer.html"></div>


<meta name="description" content="Poopcloud: Make your poops come true"/>
<meta property="og:image" content="https://i.imgur.com/uO3C3wu.png"/>
<meta property="og:image:secure_url" content="https://i.imgur.com/uO3C3wu.png"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="400"/>
<meta property="og:image:height" content="300"/>
<meta property="og:image:alt" content="A poop on a cloud"/>

</body>

</html>