<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pølleskyen</title>
    <link rel="stylesheet" th:href="@{stylesheet.css}" href="../static/stylesheet.css">
</head>
<body>
<h1>Test</h1>

<a href="createwishlist">Opret en PølleListe</a>

<p th:each="wishlist :${wishlists}">
<span th:text="${wishlist.id}"></span>
<span th:text="${wishlist.name}"></span>
    <a th:href="@{'/showwishlist/' +${wishlist.id}}"><input type="submit" value="Edit wishlist" ></a>
    <a th:href="@{'/deletewishlist/' +${wishlist.id}}"><input type="submit" value="Delete WishList" ></a>

    <!-- <a th:href="@{'/updatewishlist/' +${wishlist.id}}" target="myiframe"><input type="button" value="iFrame" onclick="toggle(this)"></a>
    <iframe id="myiframe" style="height:450px;width:100%;" hidden></iframe>-->
</p>
</body>
<!--
<script>
    let toggle = button => {
        let element = document.getElementById("myiframe");
        let hidden = element.getAttribute("hidden");

        if (hidden) {
            element.removeAttribute("hidden");
            button.innerText = "Hide Iframe";
        } else {
            element.setAttribute("hidden", "hidden");
            button.innerText = "Show Iframe";
        }
    }
</script>
-->
</html>