<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Share wishlist</title>
</head>
<body>

<form action="/mail" method="get">
    <div>
  <label for="mail">Email: </label>
  <input id="mail" type="email" name="mail" placeholder="Enter email" autofocus required>
  <input type="hidden" name="wishList" th:value="${wishlist.name}">
  <input type="hidden" name="link"  th:value="'https://poopcloud.azurewebsites.net/showwishlist/' + ${wishlist.id}">
        <input type="submit" value="Send ønskeseddel">
    </div>
</form>

</body>
</html>