<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share wishlist</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="/css/form.css">
    <link rel="icon" type="image/x-icon" href="/images/poopcloud-favicon.ico" th:href="@{/images/poopcloud-favicon.ico}">
</head>
<body>
<div th:insert="fragments/header.html"></div>

<form action="/mail" method="get">
    <div class="container_create">
        <div class="card_container" style="line-height: 1.6; font-size: 24px">Del Ønskeliste:
            <strong><div style="line-height: 1.6em;"><span th:text="${wishlist.name}"></span></div></span></strong>
            <label>Email:
                <input id="mail" type="email" name="mail" placeholder="Enter email" autofocus required>
            </label>
            <br>
            <div class="show">
                <input type="button" value="Fortryd" onclick="history.back()">
            </div>
            <div class="show">
                <input type="submit" value="Del ønskesedlen">
            </div>
        </div>
        <div th:insert="fragments/footer.html"></div>
    </div>

    <input type="hidden" name="wishList" th:value="${wishlist.name}">
    <input type="hidden" name="link"
           th:value="'https://poopcloud.azurewebsites.net/showwishlist/' + ${wishlist.id}">
</form>





</body>
</html>