<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Share wishlist</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div th:insert="fragments/header.html">
</div>
<script>
    try {
        adddlert("Welcome guest!");
    }
    catch(err) {
        document.getElementById("demo").innerHTML = err.message;
    }
</script>

<form action="/mail" method="get">
    <div>
  <label for="mail">Email: </label>
  <input id="mail" type="email" name="mail" placeholder="Enter email" autofocus required>
  <input type="hidden" name="wishList" th:value="${wishlist.name}">
  <input type="hidden" name="link"  th:value="'https://poopcloud.azurewebsites.net/showwishlist/' + ${wishlist.id}">
        <input type="submit" value="Send ønskeseddel">
    </div>
</form>
</div>
<div th:insert="fragments/footer.html"></div>
</body>
</html>