<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pølleskyen</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" href="../static/css/style.css">
</head>
<body>

<div th:insert="fragments/header.html"></div>
<p th:text="${id}"></p>
<p th:text="${wishlist.name}"></p>


<a th:href="@{'/updatewishlist/' +${wishlist.id}}"><input type="image" src="../images/update.png" style="width: 50px; height: 50px; padding: 10px"></a>
<a th:href="@{'createwish/' +${wishlist.id}}"><input type="image" src="../images/newList.png" style="width: 50px; height: 50px"></a>


<p th:each="wishes :${wish}">
    <span th:text="${wishes.id}"></span>
    <span th:text="${wishes.name}"></span>
    <span th:text="${wishes.price}"></span>DKK
    <a th:href="${wishes.link}" target="_blank"><span th:text="${wishes.link}"></span> </a>
    <span th:text="${wishes.description}"></span>
    <span th:text="${wishes.reserved}"></span>
    <a th:href="@{'/deletewish/' +${wishes.list_id}+'/'+${wishes.id}}"><input type="image" src="../images/delete.png" style="width: 15px; height: 15px"></a>

<footer></footer>
</body>
</html>