<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pølleskyen</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" href="../static/css/style.css">
</head>
<body>

<div th:insert="fragments/header.html"></div>
<p th:text="${id}"></p>
<p th:text="${wishlist.name}"></p>


<a th:href="@{'/updatewishlist/' +${wishlist.id}}"><input type="submit" value="Update WishList name" ></a>
<a th:href="@{'createwish/' +${wishlist.id}}"><input type="submit" value="Create Wish" ></a>



</body>
</html>