<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pølleskyen</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="/css/form.css">
</head>
<body>
<div th:insert="fragments/header.html"></div>
    <div class="container_create">
        <div class="card_container" style="height: 250px">
            <form action="/updatewishlist" method="post">
                <input type="hidden" name="id" th:value="${wishlist.id}">
                <input type="text" name="name" th:value="${wishlist.name}" class="form-control">

                <div class="show">
                    <a class="a1" th:href="@{'/showwishlist/' + ${wishlist.id}}" style="color: black"><span>Gå tilbage</span>
                    </a></div>
                <div class="show"><input type="submit" value="Opdater navn" style="font-family: PølleSkyen;">
                </div>
            </form>
        </div>
        <div th:insert="fragments/footer.html"></div>
    </div>


</body>
</html>