<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pølleskyen</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" href="../static/css/style.css">
</head>
<body>
<div th:insert="fragments/header.html"></div>

<p th:text="${id}"></p>
<p th:text="${wishlist.name}"></p>


<div>

    <h1>Opdater Pølleliste</h1>


    <form action="/updatewishlist" method="post">
        <div class="form-group">
            <input type="hidden" name="id" th:value="${wishlist.id}">
            <input type="text" name="name" th:value="${wishlist.name}" class="form-control">
        </div>

        <button type="Opdater" class="btn btn-primary">Submit</button>
    </form>

</div>

</body>
</html>