<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater en Pølleliste</title>
</head>
<body>
<h1>Hello</h1>

<p th:text="${id}"></p>


<div>

    <h1>Opdater Pølleliste</h1>


    <form action="/updatewishlist" method="post">
        <div class="form-group">
            <input type="text" name="name" th:value="${name}" class="form-control">
        </div>

        <button type="Opdater" class="btn btn-primary" th:placeholder="${name}">Submit</button>
    </form>

</div>

</body>
</html>